body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 400;
  background-color: #f3f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.back {
  background-color: #ffffff;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.header {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.info {
  display: flex;
  padding: 30px 0 30px 0;
}
.logo {
  height: 59px;
  display: flex;
  border-bottom: 1px solid gainsboro;
}
.logo > img {
  width: 154px;
}
.meal {
  width: 350px;
  border-radius: 5px;
}
h1,
h2 {
  padding: 10px 25px 40px 0;
}
h1 {
  font-size: 32px;
  color: #2e3333;
}
h2 {
  line-height: 1.5;
  font-size: 19px;
  color: #9a9e9e;
}
h3 {
  color: #2e3333;
  padding: 15px 0 15px 0;
  font-size: 19 px;
}
h4 {
  color: #5d6161;
  margin-bottom: 9px;
  font-size: 17px;
}
.content {
  background-color: #f3f5f5;
}
.all {
  display: flex;
  justify-content: space-between;
}
.menu-items {
  display: flex;
  width: 820px;
  /* background-color: salmon; */
}
.cart {
  width: 350px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.item {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 160px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 25px;
  margin-right: 9px;
}
.dishes {
  /* background-color: seagreen; */
  padding: 20px;
  width: 225px;
}
p {
  color: #9a9e9f;
  font-size: 14px;
  height: 1.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 24px;
}
.price {
  color: #9a9e9f;
  font-size: 16px;
}
.in-dish > img {
  border-radius: 20px;
}
.dish {
  padding: 15px;
  width: 130px;
  height: 130px;
  object-fit: cover;
  object-position: center;
}
.pop {
  padding-left: 5px;
  font-size: 13px;
  font-weight: 700;
  color: #f58004;
}
